@import "../../styles/variables/index";

.error-container {
  text-align: center;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: $white-color;
  border-radius: $border-radius;
  box-shadow: $panel-shadow;

  .app-link {
    margin-top: 5rem;
  }
}
