@import "../../styles/variables/index";

.input-search {
  display: flex;
  margin: 1rem 0 0.5rem 0;

  .form-input {
    padding-left: 3rem;
    width: 100%;
  }

  & ::placeholder {
    color: $light-grey-color;
  }

  & i {
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
  }
}
