// colors
$primary-color: #42c6b6;
$darken-primary-color: #43968c;
$primary-color-btn: #5abbaf;
$white-color: #ffffff;
$light-grey-color: #cccccc;
$grey-color: #747474;
$grey-light-color: #666666;
$black: #000000;
$disable-gray-color: #cbcbcb;
$border-grey-color: #959595;
$link-color: #3857A7;
$dark-white: #f4f4f4;
$light-black: #131313;
$primary-opacity: #C7EEE9;
$error-color: #f95d51;
$label-color: #868686;
$main-bg-color: #E5E5E5;
$font-color: #1E1E1E;
$border-bottom-gray: #EAEAEA;
